body{
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    background-color: rgb(148, 167, 250);
    border-radius: 6px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    height: 150;
    flex-direction: column;
    
}


input{
    border-radius: 7px;
}

